*{
  margin: 0;
  padding: 0;
}
body {
  font-family:"Hind Siliguri", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #c0bdbdcc;
}
/* Estilos del encabezado */
header {
  background-color: #192c64;
  padding: 0;
}
.logo-banner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.logo {
  width: 70%;
  height: auto;
  max-height: 300px;
}
/* Estilo de la barra de navegación */
.nav-bar {
  background-color: #192c64;
}
.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding-top: 200px;
  padding-right: 500px;
  display: flex;
  justify-content: center; 
}
.nav-bar li {
  margin: 0 15px;
}
.nav-bar a {
  color: white;
  text-decoration: none;
  font-size: 1.5em; /* tamaño de la fuente */
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.nav-bar a:hover {
  background-color: #084080; /* Color de fondo al pasar el mouse */
}

/*PRODUCTOS*/

#producto-detalle {
  width: 100%;
  display: flex;
  justify-content: center;
}
.producto-imagen img {
  max-width: 250px; 
  border: 1px solid #ccc; 
  padding: 10px; 
}
.producto-info {
  max-width: 600px;
  width: 100%; 
  padding: 20px; 
  box-sizing: border-box; 
  text-align: center; 
  margin-top: 15px;
}
.btn-especificaciones {
  background-color: #06184d; 
  color: white; border: none; 
  padding: 10px 20px; 
  cursor: pointer; 
  margin-top: 10px;
}
.btn-especificaciones:hover {
  background-color: #084080; 
}
.tabla-desplegable {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  width: 100%;
}

.tabla-desplegable.desplegada {
  max-height: 500px; 
}

#tabla-especificaciones {
  margin-top: 20px;
  width: 100%;
}

#tabla-especificaciones table {
  width: 100%;
  border-collapse: collapse;
}

#tabla-especificaciones th, #tabla-especificaciones td {
  border: 1px solid #06184d85;
  padding: 8px;
  text-align: left;
}

#tabla-especificaciones th {
  background-color: #06184d5d;
}



/*FOOTER*/
footer {
  background-color: #06184d;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 0px 20px 40px; 
  color: #ffffff;
}
.footer-logo, 
.footer-sections, 
.footer-contact, 
.footer-export {
  margin: 10px;
  padding: 10px;
  flex: 1;
  position: relative;
}
.footer-logo { 
  margin-left: 0; 
  padding-left: 0;
  flex: 1;
  display: flex;
  justify-content: flex-start;
}
.footer-logo img {
  display: block;
  margin-left: 0; 
  margin-right: auto;
  width: 300px;
}
.footer-sections ul {
  list-style-type: none;
  padding: 0;
}
.footer-sections li {
  margin: 5px 0;
}
.footer-sections a {
  color: white;
  text-decoration: none;
}
.footer-contact p, 
.footer-export h3 {
  margin: 5px 0;
}
.export-map {
  width: 50px; 
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.footer-sections::after, 
.footer-contact::after, 
.footer-export::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: white;
}
.footer-sections:last-child::after, 
.footer-contact:last-child::after, 
.footer-export:last-child::after {
  display: none;
}



/* Media Query para pantallas de ancho máximo 768px*/
@media (max-width: 768px) {
  .container {
      flex-direction: column;
      align-items: center;
  }

  .introduction, .imagen-superior {
      max-width: 100%;
  }

  .introduction p {
      text-align: center;
  }

  .imagen-superior video {
    max-width: 100%; /* El video se ajusta al ancho del contenedor */
  }
}


@media (min-width: 1025px) { 
  
  .introduction, .imagen-superior { 
      max-width: 45%; 
  }
}

/* Media Query para pantallas de ancho máximo 480px*/
@media (max-width: 480px) {
  .introduction h2 {
      font-size: 1.5rem; /* Ajusta el tamaño del título */
  }

  .introduction p {
      font-size: 1rem; /* Ajusta el tamaño del texto */
  }

  .imagen-superior video {
      width: 100%; /* Asegura que el video se ajuste al ancho del contenedor */
  }
}
