*{
  margin: 0;
  padding: 0;
}
body {
  font-family:"Hind Siliguri", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #c0bdbdcc;
}
/* Estilos del encabezado */
header {
  background-color: #192c64;
  padding: 0;
}
.logo-banner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.logo {
  width: 70%;
  height: auto;
  max-height: 300px;
}
/* Estilo de la barra de navegación */
.nav-bar {
  background-color: #192c64;
}
.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding-top: 200px;
  padding-right: 500px;
  display: flex;
  justify-content: center; 
}
.nav-bar li {
  margin: 0 15px;
}
.nav-bar a {
  color: white;
  text-decoration: none;
  font-size: 1.5em; /* tamaño de la fuente */
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.nav-bar a:hover {
  background-color: #084080; /* Color de fondo al pasar el mouse */
}

/*PRODUCTOS*/
#producto-detalle {
    display: flex;
    padding: 20px;
}
.producto-imagen img {
  max-width: 300px;
  border: 1px solid #ccc;
  padding: 10px;
}
.producto-info {
    margin-left: 20px;
}
.menu-navegacion {
    margin-top: 20px;
}
.menu-navegacion input[type="search"] {
    padding: 5px;
    margin-bottom: 10px;
}
.menu-navegacion ul {
    list-style: none;
    padding: 0;
}
.menu-navegacion li {
    margin-bottom: 5px;
}
.menu-navegacion a {
    text-decoration: none;
    color: #333;
}
#promociones {
    margin-top: 20px;
}
#promociones form {
    display: flex;
    flex-direction: column;
}
#promociones label {
    margin-top: 10px;
}
#promociones input {
    padding: 5px;
}
.btn-especificaciones {
    background-color: #06184d;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.tabla-desplegable {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}
.tabla-desplegable.desplegada {
  max-height: 500px; /* Ajusta según el tamaño de la tabla */
}
#tabla-especificaciones {
  margin-top: 20px;
}
#tabla-especificaciones table {
  width: 100%;
  border-collapse: collapse;
}
#tabla-especificaciones th, #tabla-especificaciones td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}
#tabla-especificaciones th {
  background-color: #f2f2f2;
}
/*Footer*/
footer {
  background-color: #06184d;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 40px 20px 0; 
  color: #ffffff;
  font-family: Arial, sans-serif;
}
.footer-logo, .footer-sections, .footer-contact, .footer-export {
  margin: 10px;
  padding: 10px;
  flex: 1;
  position: relative;
}
.footer-logo img {
  display: block;
  margin-left: 0; /* Pegado al borde izquierdo */
  margin-right: auto;
  width: 300px; /* Aumenta el tamaño del logo */
}
.footer-sections ul {
  list-style-type: none;
  padding: 0;
}
.footer-sections li {
  margin: 5px 0;
}
.footer-sections a {
  color: white;
  text-decoration: none;
}
.footer-contact p, 
.footer-export h3 {
  margin: 5px 0;
}
.export-map {
  width: 50px; /* Ajusta el tamaño del mapa */
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.footer-sections::after, 
.footer-contact::after, 
.footer-export::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: white;
}
.footer-sections:last-child::after, 
.footer-contact:last-child::after, 
.footer-export:last-child::after {
  display: none;
}


/* Media Query para pantallas de ancho máximo 768px*/
@media (max-width: 768px) {
  .container {
      flex-direction: column;
      align-items: center;
  }

  .introduction, .imagen-superior {
      max-width: 100%;
  }

  .introduction p {
      text-align: center;
  }

  .imagen-superior video {
    max-width: 100%; /* El video se ajusta al ancho del contenedor */
  }
}


@media (min-width: 1025px) { 
  
  .introduction, .imagen-superior { 
      max-width: 45%; 
  }
}

/* Media Query para pantallas de ancho máximo 480px*/
@media (max-width: 480px) {
  .introduction h2 {
      font-size: 1.5rem; /* Ajusta el tamaño del título */
  }

  .introduction p {
      font-size: 1rem; /* Ajusta el tamaño del texto */
  }

  .imagen-superior video {
      width: 100%; /* Asegura que el video se ajuste al ancho del contenedor */
  }
}
